body {
  background-color: blue;

  color: pink;

  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  font-size: 2rem;
  font-style: italic;
  list-style: none;
}
